<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/detalhesChapas.css">
</head>
<body>
    <header class="header">
        <div class="header-value">
           <!-- <button onclick="window.history.back()" class="button-left"> -->
              <i onclick="window.history.back()" class="fa-solid fa-chevron-left button-left"></i>
           <!-- </button> -->
           <div class="logo-conteiner">
              <h2>Vota Aqui</h2>
              <i class="fa-solid fa-puzzle-piece"></i>
           </div>
        </div>
    </header>   
    <main class="conteiner">
        <div class="">
            <div class="text-info-header">
                <h2 class="mb-4 font-weight-bold subtitle">Adicione candidatos na chapa <%= chapa[0].Nome %></h2>
                <p>Selecione o cargo do candidato e adicione na chapa. </p>
            </div>
            <div class="table-responsive">
                   <% candidatos.forEach(candidato => { %>
                    <form class="table-header" action="/candidatochapa/" method="post">
                            <ul>
                                <li><%= candidato.Nome %></li>
                                <li class="align-select-a">
                                    <select name="cargoId">
                                        <% cargos.forEach(cargo => { %>
                                            <option value="<%= cargo.CargoID %>"><%= cargo.Nome %></option>
                                            <%= console.log("eleicao dentro de detalhe chapa view", eleicaoId) %>
                                        <% }); %>
                                    </select>
                                    <input type="hidden" name="candidatosId" value="<%= candidato.CandidatoID %>">
                                    <input type="hidden" name="chapaId" value="<%= chapaId %>">
                                    <input type="hidden" name="eleicaoId" value="<%= eleicaoId %>">
                                    <button type="submit" class="button is-info is-light">Adicionar na Chapa</button>
                                </li>
                            </ul>
                        </form> 
                    <% }); %>
            </div>
            <a href="/eleicao/<%= eleicaoId %>/<%= chapa[0].ChapaID %>/candidatos" class="button is-back">Voltar</a>
         </div>
    </main>
</body>
</html>
