<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastrar Candidatos</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/eleicao.css">
    </head>
        <body>
            <header class="header">
                <div class="header-value">
                    <a href="/" class="logo-conteiner">
                    <h2>Vota Aqui</h2>
                    <i class="fa-solid  fa-puzzle-piece"></i>
                    </a>
                </div>
            </header>
            <main class="main-conteiner">
            <div class="conteiner">
                <div class="">
                    <div class="text-info-header">
                        <h2 class="subtitle">Eleições iniciadas</h2> 
                        <p>Cadastre candidatos e suas chapas dentro das eleições.</p>
                    </div>

                    <div class="table-responsive">
                            
                                    <% eleicoes.forEach((eleicao, index) => { %>
                                        <ul class="table-header">
                                            <li><%= eleicao.EleicaoID %></li>
                                            <li class="data"><%= eleicao.Data %></li>
                                            <li><%= eleicao.Local %></li>
                                            <li><%= eleicao.Inicio %></li>
                                            <li><%= eleicao.Fim %></li>
                                            <li>
                                                <a href="/eleicao/<%= eleicao.EleicaoID %>/chapas" class="button  button-secundary">Ir para Eleição</a>
                                            </li>
                                        </ul>
                                    <% }); %>   
                    </div>
                    <div class="text-info">
                        <p >Inicie agora mesmo uma nova eleição.</p>
                        <div class="conteiner-button">
                            <a href="/" class="button is-back">Voltar</a>
                        </div>
                    </div>
                </div>
            </main>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const dateElements = document.querySelectorAll('.data');
                    dateElements.forEach(element => {
                        const date = new Date(element.textContent);
                        element.textContent = date.toLocaleDateString('pt-BR', {
                            year: 'numeric',
                            month: '2-digit',
                            day: '2-digit'
                        });
                    });
                });
            </script>
    </body>
</html>